@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');
 .login-container {
	 height: 311px;
	 width: 350px;
	 padding: 0px;
	 border-radius: 5px;
	 background: #fffffb;
	 position: relative;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
     margin-bottom: 5%;
     margin-left: 33%;
     margin-top: 5%;
}
 .profi-img {
	 height: 90px;
	 width: 100px;
	 background: url('https://cdn3.iconfinder.com/data/icons/arrowico/32/Up-Home-512.png');
	 background-size: cover;
	 background-position: center;
	 position: absolute;
	 top: -25px;
	 left: -35px;
	 border-radius: 50%;
	 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
 h2 {
	 font-family: Sriracha, arial, sans-serif;
	 text-align: center;
	 margin-bottom: 20px;
     /* color: #ffc145; */
     font-size: 2rem !important;
     padding-top: 21% !important;
}
 .description {
	 margin-bottom: 20px;
}
 .social {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 width: calc(100% - 40px);
	 margin: 0 auto;
}
 /* a {
	 text-align: center;
	 border: solid 2px #ff6b6c;
	 width: 75px;
	 padding: 5px 0;
	 border-radius: 5px;
} */
 